{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-category" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
          <i class="fa fa-save"></i>
        </button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
          <i class="fa fa-reply"></i>
        </a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible">
      <i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-category" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-heading">Heading</label>
                <div class="col-sm-10">
                  <input type="text" name="heading" value="{{ heading }}" placeholder="Enter heading" id="input-heading" class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-author">Author Name</label>
                <div class="col-sm-10">
                  <input type="text" name="author" value="{{ author }}" placeholder="Enter author name" id="input-author" class="form-control" />
                </div>
              </div>

              <!-- Date of Publish -->
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-date">Date of Publish</label>
                <div class="col-sm-10">
                  <input type="date" name="date_publish" value="{{ date_publish }}" id="input-date" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-image">{{ entry_image }}</label>
                <div class="col-sm-10">
                  {% if image_to_be_so %}
                  <p>Current Image: {{ image_to_be_so }}</p>
                  <img src="http://localhost/upload/image/{{ image_to_be_so }}"
                    alt="Current Image"
                    id="current-image"
                    style="max-width: 200px; max-height: 200px;" />
                  <input type="hidden" name="existing_image" value="{{ image_to_be_so }}" />
                  {% else %}
                  <p>{{ text_no_image }}</p>
                  {% endif %}
                  <input type="file" name="image" id="input-image" class="form-control" accept="image/*" />
                  <img id="image-preview" style="max-width: 200px; max-height: 200px; display: none;" />
                </div>
              </div>
              <!-- Category Description -->
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-description">{{ entry_description }}</label>
                <div class="col-sm-10">
                  <textarea name="description" placeholder="{{ entry_description }}" id="input-description" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ description }}</textarea>
                </div>
              </div>



              <!-- Image -->

              <!-- Author Name -->

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Summernote & Codemirror -->
  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script>
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script>
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script>

  <script type="text/javascript" src="view/javascript/summernote/summernote.min.js"></script>
  <link href="view/javascript/summernote/summernote.min.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script>
    document.getElementById('input-image').addEventListener('change', function(event) {
      const file = event.target.files[0];
      const preview = document.getElementById('image-preview');
      const currentImage = document.getElementById('current-image');

      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          preview.src = e.target.result;
          preview.style.display = 'block';
          if (currentImage) {
            currentImage.style.display = 'none';
          }
        };
        reader.readAsDataURL(file);
      } else {
        preview.style.display = 'none';
        if (currentImage) {
          currentImage.style.display = 'block';
        }
      }
    });
  </script>
</div>
{{ footer }}